#team {
    font-size: 1em;
    article {
        font-size: 0.9em;
        position: relative;
        overflow: hidden;
        height: 70vh;
        padding: 0;
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.3s;
        }
        &:hover {
            img {
                transform: scale(1.3) translateY(40px);
            }
            &:after {
                opacity: 1;
            }
            .caption {
                animation: showUp 0.7s forwards;
            }
        }
        &.over {
            filter: blur(3px);
        }
        img {
            height: 70vh;
            object-fit: cover;
            width: 100%;
            object-position: 80% 50%;
            transition: transform 0.3s;
            will-change: transform;
            position: absolute;
        }
        .caption {
            position: absolute;
            bottom: 0;
            color: white;
            padding: 10px;
            opacity: 0;
            will-change: opacity, transform;
            z-index: 5;
            p {
                line-height: 1.5em;
            }
        }
    }
}

#Hulk {
    img {
        object-position: 40% 50%;
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*///////////////////////////////////////////////////////////////////////*/


/*Estas mediaQuerys se aplican siempre que el tamaño de pantall sea menor a 960 px Y si alguna de las de abajo también se cumple se acumulan
*/


/*@media all and (max-width: 960px) {
    #team > div {
        flex wrap para que vayan cayendo
        flex-wrap: wrap;
    }
}*/


/*Si el tamaño de pantalla está en ese rango se mostrarán 3 películas y las demás caerán*/


/*@media all and (min-width: 581px) and (max-width: 960px) {
    #team article {
        width: 33%;
    }
}*/


/*Si el tamaño es pequeño, tipo móvil, solo se muestra una película por fila y las demás caen
*/


/*@media all and (max-width: 580px) {
    #team article {
        width: 100%;
    }
}
*/
