#movies div {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
}

#movies article {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#movies article img {
    width: 90%;
    height: 500px;
    object-fit: cover;
    transition: box-shadow 0.3s, transform 0.3s;
    will-change: box-shadow, transform;
}

#movies article img:hover {
    box-shadow: 10px 10px 40px #444;
    transform: scale(1.05);
}

#movies p {
    width: 85%;
}
